root {
  box-sizing: border-box:
}

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  background-color: #333;
}

#game-container {
  height: 100%;
  position: relative;
}

#game-container canvas {
  border: 1px solid lime;
  width: 352px;
  height: 198px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
  image-rendering: pixelated;
}
